<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>显示隐藏和移出插入</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/common-style.css">
	<script type="text/javascript" src="../js/avalon.js"></script>
	<script type="text/javascript">
		avalon.define({
			$id:"header",
			src:"../common/header.html"
		});
		avalon.define({
			$id:"footer",
			prevDisable:false,
			nextDisable:false,
			prevUrl:"05属性以及类的操作.html",
			nextUrl:"07模板的引入.html",
			src:"../common/footer.html"
		});
		var vm = avalon.define({
			$id:"test",
			isVisible:true,
			isHidden:false,
			isInsert:true,
			isRemove:false	
		});
	</script>
</head>
<body>
	<div class="container-fluid">
		<!--这里引入了header.html 为了不影响其他的，这里单独加入了一个ms-controller-->
		<div ms-include-src="src" ms-controller="header"></div>
		<div class="col-md-8 col-md-offset-2" ms-controller="test">
			<h3>六、显示隐藏ms-visible和移出插入ms-if的使用</h3>
			<div class="highlight row">
				<p class="_title">1、显示隐藏ms-visible </p>
				<div ms-class="_border _height" ms-visible="isVisible">第一个div</div>
				<div ms-class="_border _height" ms-visible="isHidden">第二个div</div>
				<p class="_value">isVisible={{isVisible}};isHidden={{isHidden}}</p>
				<span class="notes">
					注：这里是有两个div，由于isVisible={{isVisible}}，第二个div的ms-visible=false导致第二个div隐藏。第二个div隐藏所使用的方式是avalon设置了style="display:none"。详情打开F12看Elements。
				</span>
				<p>测试第一个div显示/隐藏<input type="radio" ms-duplex="isVisible">isVisible:{{isVisible}}</p>
				<p>测试第二个div显示/隐藏<input type="radio" ms-duplex="isHidden">isHidden:{{isHidden}}</p>
			</div>
			<div class="highlight row">
				<p class="_title">2、移出插入ms-if </p>
				<div ms-class="_border _height" ms-if="isInsert">第一个div</div>
				<div ms-class="_border _height" ms-if="isRemove">第二个div</div>
				<p class="_value">isInsert={{isInsert}};isRemove={{isRemove}}</p>
				<span class="notes">
					注：这里是有两个div，定义vm时由于isInsert=true第一个div的ms-if=true使第一个div插入到dom中;isRemove=false第二个div的ms-if=false导致第二个被移出。但，avalon将第二个移出的时候用<!--ms-if-->做了标记，以便插入。详情打开F12看Elements。
				</span>
				<p>测试第一个div移出/插入<input type="radio" ms-duplex="isInsert">isInsert:{{isInsert}}</p>
				<p>测试第二个div移出/插入<input type="radio" ms-duplex="isRemove">isRemove:{{isRemove}}</p>
			</div>
		</div>
		<!--引入模板footer.html引入上一页下一页的链接-->
		<div ms-include-src="src" ms-controller="footer"></div>
	</div>
</body>
</html>